.home-container{
    margin-top: 85px;
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.create-task-container{
    display: flex;

}

.task-title{
    color: black;
}