.card-container{
    height: 350px;
    width: 300px;
    color: white;
    background-color: #3498db;
    border-radius: 20px;
    border: 1px solid rgba(0, 0, 0, 0.20);
    font-size: 20px;
    font-style: normal;
}

.card-wrapper{
    display: flex;
    flex-direction: column;
    margin: 10px 20px;
}

.title-container{
    display: flex;
    justify-content: space-between;
}

.btns-wrapper{
    display: flex;
    gap: 5px;
}

.status-switch-wrapper{
    display: flex;
    justify-content: space-between;
}

.status{
    align-self: center;
    margin: 10px 0px;
}

.description{
    background-color: white;
    color: black;
    height: 230px;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.20);

}

.due-date{
    margin-top: 10px;
}