.card-container{
    height: 100%;
    color: white;
    background-color: #3498db;
    border-radius: 20px;
    border: 1px solid rgba(0, 0, 0, 0.20);
    font-size: 20px;
    font-style: normal;
    width: calc(33% - 20px);
}
@media only screen and (max-width: 1024px)  {
    .card-container{
    width: calc(50% - 20px);
    }
}
@media only screen and (max-width: 768px)  {
    .card-container{
        width: calc(100% - 20px);
    }
}
.card-wrapper{
    display: flex;
    flex-direction: column;
    margin: 10px 20px;
}

.title-container{
    display: flex;
    justify-content: space-between;
}

.btns-wrapper{
    display: flex;
    gap: 5px;
    align-items: center;
}

.status-switch-wrapper{
    display: flex;
    justify-content: space-between;
}

.status{
    align-self: center;
    margin: 10px 0;
    font-size: 18px;
}

.description{
    background-color: white;
    color: black;
    height: 230px;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.20);
    overflow: scroll;

}

.due-date{
    margin-top: 10px;
}

.delete-button{
    background-color: #dc3545;
    color: #fff;
    border: none;
    width: 50px;
    height: 30px;
    border-radius: 5px;
}

.delete-button:hover{
    cursor: pointer;
}

.edit-button{
    background-color: goldenrod;
    color: #fff;
    border: none;
    border-radius: 5px;
    width: 50px;
    height: 30px;
}

.edit-button:hover{
    cursor: pointer;
}

.status-toggle {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.status-toggle span {
    margin-right: 10px;
}

.switch {
    position: relative;
    display: inline-block;
    width: 70px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #51ff5a;
}

input:focus + .slider {
    box-shadow: 0 0 1px #51ff5a;
}

input:checked + .slider:before {
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}